extend basic
block var
    - pagetitle = "about"
    - pageurl = "about.html"
block content
    .article
        .article__me 
            |" The lazier you are, 
            br
            | the more likely you will miss the people and things you like."
        br
        .img__cell
            img(src="images/個人照.jpg")
        br
        .article__about About me
        br
        .article__info__value
            |My name is Winnie, and I'm interested in painting, coding and Janpanese.
        br
        //- .article_head
        //-     button.filter-btn About
        //- .article_content
        //-     |Winnie Lin | Interested in painting, coding and Janpanese.
        //- br



