extend basic
block var
    - pagetitle = "Compliment cultivated art and preference in contemporary"
    - pageurl = "blog.html"
block content
    .article
        .article__head
            img(src="images/blog_img_011.jpg")
        .article__body
            .article__info
                .article__info__group
                    .article__info__label Date
                    .article__info__value Apr 23, 2017
                .article__info__group
                    .article__info__label Author
                    .article__info__value Winnie
                .article__info__group
                    .article__info__label In
                    .article__info__value Brands
                .article__info__group
                    .article__info__label Response
                    .article__info__value 6 Comments
            .article__content
                .article__title 「AI普及のロードマップ」
                p
                    |AIの普及は今後避けられないトレンドです。AI時代には、自分の仕事を容易に交換されないことは、未来社会で一番大切な競争力と思います。 
                p
                    |研究者たちはいくつかの情報を発表しました。エンジニアリングテスターや、会計など、単一の内容のは置き換えやすい仕事です。消防士などの危険度が高い職業も他よりも先に置き換えられます。
                p
                    |しかし、AIが置き換えられないのは人間の感情と創造性です。「共感」は人間だけが持つ能力です。共感の需要が高い仕事、例えば小学校の教師や、人間工学研究者や、プログラマーなどは簡単に入れ替えることはできません。 
                p
                    |AIだけでなく、将来的に競争力を高めたい場合は、このようなソフトパワーがおそらく必要です。それらを簡単に置き換えることができないようにするために、専門的能力と対人関係のソフトパワーの両方を同時に改善するのは大事だと思います。
        