extend basic
block var
    - pagetitle = "Compliment cultivated art and preference in contemporary"
    - pageurl = "blog.html"
block content
    .article
        .article__head
            img(src="images/blog_img_033.jpg")
        .article__body
            .article__info
                .article__info__group
                    .article__info__label Date
                    .article__info__value Apr 27, 2017
                .article__info__group
                    .article__info__label Author
                    .article__info__value Winnie
                .article__info__group
                    .article__info__label In
                    .article__info__value Brands
                .article__info__group
                    .article__info__label Response
                    .article__info__value 6 Comments
            .article__content
                .article__title 「血液型差別」
                p
                    |星座は同じ年齢の女の子の間で常に流行っている話題ですが、私は星座より血液型について議論することを好みます。
                p
                    |私の星座は獅子座です。血液型はA型です。普通の印象では、獅子座はとても外向的で、他人に対して情熱的に振る舞うそうです。しかし、私はおとなしくて遠慮深い性質ですから、私を獅子座と思っている人はあまりいません。
                p
                    |血液型に関しては、私はA型の性格とよく一致しています。人はとても慎重な性格があって、長所は真面目で気配り上手だそうです。それに対して、短所は神経質で我が強くて、一目を気にします。私だけじゃありません。私が知り合っだA型の人はとても真面目と思います。
                p
                    |星座や血液型は科学的な根拠はありませんが、迷信になりすぎなかったら、それは面白い話題と思います。
        